*{
    margin:0px;
    padding: 0px;
}
h1 {
    /* color: #27aedb; */
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
}
.textarea{
    width: 50vw;
    height: 100vh;
    background-color: #8fcbdf;
    /* border: 1px solid blue; */
}
.preview{
    width: 50vw;
    height: 100vh;
    background-color: #17b2e6;
    /* border: 1px solid blue; */
}